@model Boonwayy.Models.Project

@{
    ViewBag.Title = "Project";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="header">

                        <img src="~/Content/Files/ProjectCoverImages/@Model.ProjectCoverImgUrl" class="img-responsive center-block" />
                        <hr />

                        <h4 class="title">@Html.DisplayFor(model => model.ProjectTitle)</h4>
                        <p class="category">@Html.DisplayFor(model => model.ProjectStartDate)</p>
                    </div>
                    <div class="content">
                        <h3>Total @ViewBag.TotalUsers</h3>
                        <hr />
                        <div class="footer">
                            <a href="#" class="btn btn-info">View All Users</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

         