@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@

<section id="page-header">
    <div class="row">
        <div class="col-md-12">
            <div class="section-text">
                <h1 class="section-heading">@ViewBag.Title</h1>
                <h3>Get to know us</h3>
            </div>
        </div>
    </div>
</section>

<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <video controls="controls" class="img-responsive" poster="~/Content/videos/e6777c22cdd0df59d0d7fb0ecaa46dcf.jpg">
                    <source src="~/Content/videos/bfc686df51848f2b12a260932e95caa1.mp4" type="video/mp4" />
                </video>
               
            </div>
        </div>
    </div>
</section>