<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
</head>
<body>

    <div style="width:100%;height:auto;background:#f9f9f9;padding:20px;">
        <center><img src="https://www.boonway.org/Content/images/logo-boonwayy-color.png" width="200" height="auto" /></center>
        <h3>Hi @ViewBag.Name</h3>
        <h3>Please reset your account password by clicking the link: <a href="@ViewBag.Link">Reset Password</a>.</h3>
        <hr />
        <h3>Can't click it? Copy and paste it in your browser:</h3>
        <p>@ViewBag.Link</p>
    </div>



    <div style="width:100%;height:auto;background:#f9f9f9;padding:20px;text-align:center;">
        <p>Welcome back!</p>
    </div>



</body>
</html>
